*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    padding:31.84px 0;

} 
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
  
}
 .container{
    margin:auto;
    width: calc(100% - 330px);
 }
 .row{
    display:flex;
    flex-wrap:wrap;
 
 align-items: center;}
   
 .header .row{
 justify-content: space-between;
   }
 

 .list ul{
    display:flex;
    gap:60px;

 }
 .icons ul{
    display:flex;
    gap:24px;
 }
.list a {
      color:#3A3845;
}
.menu{
    display:none;
}
@media screen and (min-width:320px) and (max-width:991px){
   

    .list{
        display:none;
    }
    .icons-hidden{
        display:none;
    }
    .container{
    width: calc(100% - 40px);
 }
 .menu{
    display:block;
 }
}
/*collections*/
.collections .row{
    gap:30px;

}
.collection{
    text-align:center;
    width:calc((100% - 90px)/4);
  
}
.collection img{
    width: 100%;
}
.collection h2{
    margin-top:23px;
}

@media screen and (min-width:600px) and (max-width:991px){
    
    .collection{
       width:calc((100% - 30px) / 2); 
    } }
   
    @media screen and (min-width:320px) and (max-width:599px) {

.collection{
    width:100%;
}
.container{
margin:auto;
width: calc(100% - 40px);

}

    }

